metricbeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: true
setup.template.settings:
  index.number_of_shards: 1
  index.codec: best_compression
output.logstash:
  hosts: ["sea-logstash01.coyhile.com:5044"]
processors:
  - add_host_metadata: ~
